.datePicker .calendar{
	display: none;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.datePicker .calendar-header{
	background-color: #e17669;
}

.datePicker .calendar .btn{
	border: none;
	background: none;
	width:10%;
}

.datePicker .showCalendar{
	display: block;
}

.datePicker .calendar .header{
	display: inline-block;
}
.datePicker .calendar .month{
	font-weight: 700;
	text-align: center;
	width:80%;
}

.datePicker .calendar th{
	background-color: #f7f7f7;
	border-bottom: 1px solid #ccc;
}

.datePicker .calendar th,td{
	text-align: center;
	height: 2.5em;
}

